<div class="full-width">
  <label class="radio-label-padding">{{field.label}}:</label>
  <mat-form-field class="pl-10 pr-10">
    <mat-select [placeholder]="'Month'" [disabled]="field.disabled" [(value)]="selectedMonth" (selectionChange)="getValueDob()">
      <mat-option *ngFor="let item of month" [value]="item.key">{{item.value}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="pr-10">
    <mat-select [placeholder]="'Date'" [disabled]="field.disabled" [(value)]="selectedDay" (selectionChange)="getValueDob()">
      <mat-option *ngFor="let item of day" [value]="item.key">{{item.value}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="">
    <mat-select [placeholder]="'Year'" [disabled]="field.disabled" [(value)]="selectedYear" (selectionChange)="getValueDob()">
      <mat-option *ngFor="let item of year" [value]="item.key">{{item.value}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>