html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-card-header-text {
  margin: 0px !important;
}
.full-width {
  width: 100%;
  padding-top: 12px;
}
